<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter name</title>
</head>
<body>
<form method="POST" action="/name">
    <label for="name">Enter your name:</label><br>
    <input type="text" id="name" name="myname">
</form>
</body>
</html>
