<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter name and age</title>
</head>
<body>
<form method="POST" action="/show">
    <label for="name">Enter your name:</label><br>
    <input type="text" id="name" name="myname"><br>
    <label for="age">Enter your age:</label><br>
    <input type="text" id="age" name="myage">
    <input type ="submit" value="Submit">
</form>
</body>
</html>
